body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  .top-banner {
    background-color: #000000; /* Couleur du bandeau */
    color: #1F51FF; /* Couleur du texte dans le bandeau */
    padding: 10px;
    text-align: center;
    max-height: 16.666%;
  }
  .top-banner h1{
    text-align: left;
  }
  .top-banner img{
    max-height: 16.666%;
    float: right;
  }
  .container {
    display: flex;
  }
  
  .navigation {
    width: 16.666%; /* 1/6 de la largeur */
    background-color: #f0f0f0;
    padding: 20px;
    height: 100vh; 
  }
  
  .navigation ul {
    list-style: none;
    padding: 0;
  }
  
  .navigation li {
    margin-bottom: 10px;
  }
  .navigation a {
    text-decoration: none;
    color: black;
  }

  /* Style lorsque la souris survole le lien */
.navigation a:hover {
  color:#1F51FF;
  /* Ajoutez ici les styles que vous souhaitez afficher lorsque la souris survole le lien */
}

/* Texte différent pour chaque lien en hover */
.navigation a[data-hover-text="Texte pour H"]:hover::before {
  content: "Home and SOHO devices; routers, on-line cameras and monitoring, other customer grade-appliances. ";
  display: block;
  position: absolute;
  background-color: rgb(0, 0, 0); 
  padding: 10px;
}

.navigation a[data-hover-text="Texte pour S"]:hover::before {
  content: "SCADA and industrial systems, automation, sensor systems, non-home IoT appliances, car and vehicles (subsystems), medical devices, industrial video recorders and surveillance systems.";
  display: block;
  position: absolute;
  background-color:  rgb(0, 0, 0);
  padding: 10px;
}

.navigation a[data-hover-text="Texte pour E"]:hover::before {
  content: "Enterprise, Service Provider (SP) hardware (routers, switches, enterprise Wi-Fi and networking) this constitutes mainly the network level of IoT infrastructure.";
  display: block;
  position: absolute;
  background-color:  rgb(0, 0, 0);
  padding: 10px;
}

.navigation a[data-hover-text="Texte pour M"]:hover::before {
  content: "mobile phones, tablets, smart watches and portable devices this constitutes the “controllers” of IoT systems. ";
  display: block;
  position: absolute;
  background-color: rgb(0, 0, 0);
  padding: 10px;
}

.navigation a[data-hover-text="Texte pour P"]:hover::before {
  content: "PCs, laptops, PC-like computing appliances and PC servers (enterprise) this constitutes the “controllers” of IoT systems.";
  display: block;
  position: absolute;
  background-color: rgb(0, 0, 0);
  padding: 10px;
}

.navigation a[data-hover-text="Texte pour A"]:hover::before {
  content: "other, non-home appliances: enterprise printers and printing systems, copy machines, non-customer storage and multimedia appliances.";
  display: block;
  position: absolute;
  background-color: rgb(0, 0, 0);
  padding: 10px;
}

  .articles {
    width: 83.334%; /* 5/6 de la largeur */
    padding: 20px;
  }
  
  .article {
    display: flex;
    margin-bottom: 20px;
    border-style: inset;
  }
  
  .article img {
    width: 150px; /* Ajustez la taille de l'image selon vos besoins */
    height: auto;
    margin-right: 20px;
  }
  
  .article-details {
    flex-grow: 1;
  }
  
  .article-details h2 {
    margin-top: 0;
  }
  
  .article-details ul {
    list-style: none;
    padding: 0;
  }
  
  .article-details li {
    margin-bottom: 5px;
  }
  .article img {
    width: 150px; /* Ajustez la taille de l'image selon vos besoins */
    height: auto;
    margin-right: 20px;
  }
  