body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  .top-banner {
    background-color: #000000; /* Couleur du bandeau */
    color: #1F51FF; /* Couleur du texte dans le bandeau */
    padding: 10px;
    text-align: center;
    max-height: 16.666%;
  }
  .top-banner h1{
    text-align: left;
  }
  .top-banner img{
    max-height: 16.666%;
    float: right;
  }
  .container {
    display: flex;
  }
  
  .navigation {
    width: 16.666%; /* 1/6 de la largeur */
    background-color: #f0f0f0;
    padding: 20px;
    height: 100vh; 
  }
  
  .navigation ul {
    list-style: none;
    padding: 0;
  }
  
  .navigation li {
    margin-bottom: 10px;
  }
  .navigation a {
    text-decoration: none;
    color: black;
  }

  /* Style lorsque la souris survole le lien */
.navigation a:hover {
  color:#1F51FF;
  /* Ajoutez ici les styles que vous souhaitez afficher lorsque la souris survole le lien */
}

/* Texte différent pour chaque lien en hover */
.navigation a[data-hover-text="H"]:hover::before {
  content: "Home and SOHO devices; routers, on-line cameras and monitoring, other customer grade-appliances. ";
  display: block;
  position: absolute;
  background-color: rgb(0, 0, 0); 
  padding: 10px;
}

.navigation a[data-hover-text="S"]:hover::before {
  content: "SCADA and industrial systems, automation, sensor systems, non-home IoT appliances, car and vehicles (subsystems), medical devices, industrial video recorders and surveillance systems.";
  display: block;
  position: absolute;
  background-color:  rgb(0, 0, 0);
  padding: 10px;
}

.navigation a[data-hover-text="E"]:hover::before {
  content: "Enterprise, Service Provider (SP) hardware (routers, switches, enterprise Wi-Fi and networking) this constitutes mainly the network level of IoT infrastructure.";
  display: block;
  position: absolute;
  background-color:  rgb(0, 0, 0);
  padding: 10px;
}

.navigation a[data-hover-text="M"]:hover::before {
  content: "mobile phones, tablets, smart watches and portable devices this constitutes the “controllers” of IoT systems. ";
  display: block;
  position: absolute;
  background-color: rgb(0, 0, 0);
  padding: 10px;
}

.navigation a[data-hover-text="P"]:hover::before {
  content: "PCs, laptops, PC-like computing appliances and PC servers (enterprise) this constitutes the “controllers” of IoT systems.";
  display: block;
  position: absolute;
  background-color: rgb(0, 0, 0);
  padding: 10px;
}

.navigation a[data-hover-text="A"]:hover::before {
  content: "other, non-home appliances: enterprise printers and printing systems, copy machines, non-customer storage and multimedia appliances.";
  display: block;
  position: absolute;
  background-color: rgb(0, 0, 0);
  padding: 10px;
}

  .articles {
    width: 83.334%; /* 5/6 de la largeur */
    padding: 20px;
  }
  
  .article {
    display: none;
    margin-bottom: 20px;
    border-style: inset;
  }
  
  .article img {
    width: 150px; /* Ajustez la taille de l'image selon vos besoins */
    height: auto;
    margin-right: 20px;
  }
  
  .article-details {
    flex-grow: 1;
  }
  
  .article-details h2 {
    margin-top: 0;
  }
  
  .article-details ul {
    list-style: none;
    padding: 0;
  }
  
  .article-details li {
    margin-bottom: 5px;
  }
  .article img {
    width: 150px; /* Ajustez la taille de l'image selon vos besoins */
    height: auto;
    margin-right: 20px;
  }
  
  .popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .popup button {
    float: right;
    align-self: flex-end;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 1001;
  }
  
.popup p, ul{
  flex: left
}
  .popup h2{
    float: left;
    margin-top: 0;
  }



  
  /* Style pour la section Filtres */
.filter-panel {
  width: 83,334%; 
  display: none;
  position: relative;
  margin-left: 10px;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f0f0f0;
}

/* Style pour le titre Filtres */
.filter-panel h3 {
  margin-top: 0;
}

/* Style pour la liste des filtres */
#filter-list {
  list-style-type: none;
  padding: 0;
}

#filter-list li {
  margin-bottom: 5px;
  display: flex;
  align-items: center; /* Aligner les éléments verticalement */
}


/* Style pour les cases à cocher */
#filter-list input[type="checkbox"] {
  margin-right: 5px;
  order: -1; /* Déplacer la case à cocher vers la gauche */
}


/* Style pour les étiquettes des filtres */
#filter-list label {
  cursor: pointer;
}

#filter-form button[type="submit"] {
  position: absolute; /* Positionnement absolu pour placer le bouton en haut à droite */
  top: 10px; /* Espacement depuis le haut */
  right: 10px; /* Espacement depuis la droite */
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Style pour le bouton Envoyer au survol */
#filter-form button[type="submit"]:hover {
  background-color: #0056b3;
}

/* Style pour la barre de recherche */
#search-input {
  width: 100%; /* Prendre toute la largeur du conteneur */
  box-sizing: border-box; /* Inclure la largeur du padding et de la bordure dans la largeur totale */
  padding: 8px; /* Espacement intérieur */
  margin-bottom: 10px; /* Espacement inférieur */
  border: 1px solid #ccc; /* Bordure */
  border-radius: 5px; /* Coins arrondis */
}
