<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/style/style.css" rel="stylesheet" type="text/css">
  <title>Page d'Articles</title>
</head>
<body>
  <div class="top-banner">
    <img src="logo.jpg" >
    <h1>Find Your Vulnerabilities</h1>
  </div>
  <div class="container">
    <div class="navigation">
      <!-- Menu de navigation -->
      <h2> Categories</h2>
      <ul>
        <li><a href="#" class="hover-link" data-hover-text="H" onclick="sendCategory('H')">H – Home and SOHO</a></li>
        <li><a href="#" class="hover-link" data-hover-text="S" onclick="sendCategory('S')">S – SCADA and industrial systems</a></li>
        <li><a href="#" class="hover-link" data-hover-text="E" onclick="sendCategory('E')">E – Enterprise</a></li>
        <li><a href="#" class="hover-link" data-hover-text="M" onclick="sendCategory('M')">M – mobile phones, tablets, ...</a></li>
        <li><a href="#" class="hover-link" data-hover-text="P" onclick="sendCategory('P')">P – PCs, laptops, ...</a></li>
        <li><a href="#" class="hover-link" data-hover-text="A" onclick="sendCategory('A')">A – other</a></li>
      </ul>
    </div>
    <div class="filter-panel" id="filter-panel" >

      <h3>Filtres</h3>
      <input type="text" id="search-input" placeholder="Rechercher...">
     

        <ul id="filter-list">
      <!-- Les filtres sont générés ici -->
    </ul>
        <button type="button" id="send-button" onclick="sendFilters()">Envoyer</button>
     
    </div>

    <div class="articles" id="articles">
      
  <!-- Les articles sont générés ici -->

    </div>
  </div>



  <script src="script.js">

  </script>
</body>
</html>
