<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/style/style.css" rel="stylesheet" type="text/css">
  <title>Page d'Articles</title>
</head>
<body>
  <div class="top-banner">
    <img src="logo.jpg" >
    <h1>Find Your Vulnerabilities</h1>
  </div>
  <div class="container">
    <div class="navigation">
      <!-- Menu de navigation -->
      <h2> Categories</h2>
      <ul>
        <li><a href="#" class="hover-link" data-hover-text="H" onclick="showFilterPanel('H')">H – Home and SOHO</a></li>
        <li><a href="#" class="hover-link" data-hover-text="S" onclick="showFilterPanel('S')">S – SCADA and industrial systems</a></li>
        <li><a href="#" class="hover-link" data-hover-text="E" onclick="showFilterPanel('E')">E – Enterprise</a></li>
        <li><a href="#" class="hover-link" data-hover-text="M" onclick="showFilterPanel('M')">M – mobile phones, tablets, ...</a></li>
        <li><a href="#" class="hover-link" data-hover-text="P" onclick="showFilterPanel('P')">P – PCs, laptops, ...</a></li>
        <li><a href="#" class="hover-link" data-hover-text="A" onclick="showFilterPanel('A')">A – other</a></li>
      </ul>
    </div>
    <div class="filter-panel" >

      <h3>Filtres</h3>
      <form id="filter-form">

        <label for="filter1"><input type="checkbox" id="filter1" name="filter" value="filter1"> Filtre 1</label><br>
        <label for="filter2"><input type="checkbox" id="filter2" name="filter" value="filter2"> Filtre 2</label><br>
        <button type="submit">Envoyer</button>
      </form>
    </div>

    <div class="articles">
      
      <div class="article">
        <img src="test.png" alt="Image de l'article">
        <div class="article-details" onclick="showPopup('Article 1', 'Auteur 1', 'Date 1', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.')">
          <h2>Test</h2>
          <ul>
            <li>Date: 0</li>
            <li>Auteur: 0</li>
            <li>Catégorie: 0</li>
          </ul>
        </div>
         </div>
         <div class="article">
          <img src="test.png" alt="Image de l'article">
          <div class="article-details">
            <h2>Test</h2>

            <ul>
              <li>Date: 0</li>
              <li>Auteur: 0</li>
              <li>Catégorie: 0</li>
            </ul>
          </div>
           </div>
  

    </div>
  </div>
    <!-- Fenêtre pop-up -->
    <div id="popup" class="popup" style="display: none">
      
      <h2 id="popup-title"></h2> <button type="button" onclick="hidePopup()"><img src="croix.png"/></button>
      <br>
      <p id="popup-author"></p>
      <p id="popup-date"></p>
      <p id="popup-desc"></p>
    </div>

  <script src="script.js">

  </script>
</body>
</html>
