<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/style/style.css" rel="stylesheet" type="text/css">
  <title>Page d'Articles</title>
</head>
<body>
  <div class="top-banner">
    <img src="logo.jpg" >
    <h1>Find Your Vulnerabilities</h1>
  </div>
  <div class="container">
    <div class="navigation">
      <!-- Menu de navigation -->
      <ul>
        <li><a href="#">Catégorie 1</a></li>
        <li><a href="#">Catégorie 2</a></li>
        <li><a href="#">Catégorie 3</a></li>
        
      </ul>
    </div>

    <div class="articles">
      
      <div class="article">
        <img src="test.png" alt="Image de l'article">
        <div class="article-details">
          <h2>Test</h2>
          <ul>
            <li>Date: 0</li>
            <li>Auteur: 0</li>
            <li>Catégorie: 0</li>
          </ul>
        </div>
         </div>
         <div class="article">
          <img src="test.png" alt="Image de l'article">
          <div class="article-details">
            <h2>Test</h2>
            <ul>
              <li>Date: 0</li>
              <li>Auteur: 0</li>
              <li>Catégorie: 0</li>
            </ul>
          </div>
           </div>
  

    </div>
  </div>
</body>
</html>
